body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

/* Add padding-bottom to the main content area */
main {
    padding-bottom: 100px; /* Ensures there is enough space for the footer */
}

/*
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	gap: 10px;
}

.post {	
    width: 400px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
	margin-bottom: 10px; 
    border-radius: 5px;
    background-color: #fff; 
}
*/

.posts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* All items same width */
	grid-auto-rows: min-content; /* Automatically size rows based on content height */
    grid-auto-flow: dense; /* Fill gaps to make the grid as dense as possible */
	
	
}

.post {
	flex: 1 1 auto;
	margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden; /* Prevent overflow */
    height: 100%;
}


.post img {
	
    width: 100%;
    height: auto;
	border-radius: 5px;
	display: block;
}

.post h2 {
    padding: 10px;
    text-align: center;
}

.post p {
    padding: 0 10px 10px;
    color: #555;
}

.post:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
	padding: 0px 15px;
}

/* Button styles */
.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.resume-header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333;
}

.resume-header h2 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.resume-header h2 {
    margin: 0;
    font-size: 36px;
    color: #333;
}


.resume-header p {
    margin: 10px 0;
    color: #777;
}

.resume-content {
    padding: 20px;
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Bulleted list in resume content */
.resume-content ul {
    line-height: 1.4; /* Adjust this value for more or less spacing */
    margin-bottom: 1px; /* Adds space below each list item */
}


.resume-content h4 {
    color: #111;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

/* Section titles in resume content */
.resume-content h3 {
    color: #33b;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
	padding-top: 15px;
}

.resume-content p {
    margin: 10px 0;
}



/* Centered container with a raised effect */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Raised effect */
    border-radius: 10px; /* Rounded corners */
}

/* Center the project-post content */
.project-post {
    text-align: center;
}

/* Ensure images are scaled down appropriately */
.project-post img {
    max-width: 60%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.date {
    text-align: left;
}


@media print {
    body * {
        visibility: hidden; /* Hide all elements */
    }

    .resume-content, .resume-content * {
        visibility: visible; /* Only make the resume box visible */
    }

    .resume-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    header, footer {
        display: none; /* Ensure header and footer are hidden */
    }
}


.masonry-with-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    
  }
  
  .masonry-with-columns .post {
    flex: 0 0 calc(33.333% - 4rem);
    max-width: calc(33.333% - 4rem);
    box-sizing: border-box;
    
  } 

  
/* .masonry-with-columns {
    columns: 3 150px;
    column-gap: 1rem;
    div {
        width: 150px;
        background: #ffffff00;
        color: white;
        margin: 0 1rem 1rem 0;
        display: inline-block;
        width: 100%;
      } 
  } */
  

  .GalleryContainer {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20px);
    width: 70%;
    padding-bottom: 100px;
  }